[database]
ES_SERVER=elasticsearch1.metrics.scl3.mozilla.com:9200
INDEX=logs
TYPE=testpasses

[email]
username = automation@mozilla.com
server = mail
port = 25
ssl = off

[gofaster]
local_server_url = http://localhost:8080
external_server_url = http://brasstacks.mozilla.com/gofaster
