*.pyc
include/
bin/
lib/
src/dashboard/server/data/buildfaster.pkl
src/dashboard/server/data/buildfaster-queue.pkl
src/dashboard/server/data/buildfaster.csv
src/dashboard/server/settings.cfg
src/isthisbuildfaster/
src/mozautoeslib/
src/mozautolog/
